*{
  margin: 0%;
  padding: 0%;
}
img{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%; 
}
.category{
  background-color: darkslategray;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
}